.VisualizerContainer {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

.VisualizerField {}

.PlayButton {
	width: 3em;
	cursor: pointer;
	filter: invert(93%) sepia(27%) saturate(126%) hue-rotate(19deg) brightness(93%) contrast(94%);
}

.audioSource {
	display: none;
}