.TitleTrack {
	/* font-weight: 900; */
	/* color: red; */
	font-size: 3em;
	text-transform: uppercase;
	cursor: crosshair;
	text-decoration: none;
	z-index: 1;
}

@media (max-width: 1400px) {
	.TitleTrack {
		font-size: 2em;
	}
}

@media (max-width: 900px) {
	.TitleTrack {
		font-size: 1.25em;
	}
}

@media (max-width: 400px) {
	.TitleTrack {
		font-size: .75em;
	}
}

