.Footer {
	position: fixed;
	bottom: -5px;
	font-size: 1em;
	display: flex;
	width: 100%;
	justify-content: space-between;
	cursor: crosshair;
}

.FooterText {
	font-size: 1em;
	text-transform: uppercase;
	margin-left: 2em;
	margin-right: 2em;
}