body {
	background-color: #083664;
	color: #E7E4D1;
	font-family: 'Source Code Pro', monospace;
}

.SiteLayout {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* font-family: 'IBM Plex Sans', sans-serif; */
}

.BottomBorder {
	background-color: #E7E4D1;
	width: 98vw;
	height: 1px;
	position: fixed;
	bottom: 2.5em;
}